@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Gruppo&family=Nothing+You+Could+Do&display=swap');


.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  margin: 0;
}

.Social {
  margin: 10px;
}

h1 {
  font-family: 'Gruppo', cursive;
  letter-spacing: 25px;
  font-size: 60px;
  display: flex;
  justify-content: center;
  font-weight: 1000;
  margin-top: 50px;
  margin-left: 65px;
}

h2, h3 {
  font-family: 'Gruppo', cursive;
  font-size: 25px;
}

.Quote {
  font-weight: bold;
  font-size: 30px;
}

.Profile {
  height: 50%;
  width: auto;
  border-radius: 50%;
  box-shadow: 0 0 5px 3px grey;
}

.About {
  padding: 0 40px 0 40px;
}

footer {
  font-size: 20px;
}



