@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Gruppo&family=Nothing+You+Could+Do&display=swap');


.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  margin: 0;
}

.tr, .portfolio, .contact {
  text-decoration: none;
  color: black;
  font-size: 35px;
  font-family: 'Gruppo', cursive, sans-serif;
  /* font-weight: bold; */
  
}

.tr {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  padding: 10px;
  background: #fff;
  border: 3px solid rgb(38, 202, 194);
  color: #000;
  text-align: center;
  font-family: 'Gruppo', cursive, sans-serif;
  font-size: 30px;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

h1 {
  font-family: 'Gruppo', cursive, sans-serif;
  letter-spacing: 25px;
  font-size: 75px;
  display: flex;
  justify-content: center;
  font-weight: 1000;
  margin-left: 65px;
}

h2, h3 {
  font-family: 'Gruppo', cursive, sans-serif;
  font-size: 25px;
  font-weight: 550;
}

.Quote {
  font-weight: 1000;
  font-size: 30px;
}

.job-title {
  font-size: 30px;
  font-style: italic;
}

.role {
  font-size: 25px;
  font-style: italic;
}

.Profile {
  height: 50%;
  width: auto;
  border-radius: 50%;
  box-shadow: 0 0 5px 3px grey;
}

.About {
  padding: 0 40px 0 40px;
}

.contact-info {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Gruppo', cursive, sans-serif;
}

a {
  display: block;
  font-family: 'Gruppo', cursive, sans-serif;
  font-size: 50px;
  margin: 10px;
}

footer {
  font-size: 20px;
  margin-top: 100px;
  border-top: 1px solid;
}


@media only screen and (min-width: 550px) {
    .App {
      width: 560px;
    }
}



