@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Gruppo&family=Nothing+You+Could+Do&display=swap');


.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  margin: 0;
}


h1 {
  font-family: 'Gruppo', cursive;
  letter-spacing: 25px;
  font-size: 60px;
  display: flex;
  justify-content: center;
  font-weight: 1000;
  margin-top: 50px;
  margin-left: 65px;
}

.Profile {
  height: 50%;
  width: auto;
  border-radius: 50%;
}



